/* @import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.button {
  flex-grow: 1;
  height: 100px;
  width: 100px;
  margin: 5px;
  /* font-family: 'Trispace', sans-serif; */
  font-family: 'Playfair Display', serif;
  background-color: rgba(248, 239, 244, 0.897);
  font-size: 28px;
}